homer/public/assets/*
!homer/public/assets/config.yml
!homer/public/assets/homer-icons

homebridge/config_and_plugins/*
code_server/config
networks/adguard_conf/AdGuardHome.yaml
radarr_and_friends/notifiarr.conf

.gitsecret/keys/random_seed
!*.secret
