[submodule "homer/public/assets/homer-icons"]
	path = homer/public/assets/homer-icons
	url = git@github.com:NX211/homer-icons.git
[submodule "homer/homer-theme"]
	path = homer/public/assets/homer-theme
	url = git@github.com:walkxcode/homer-theme.git
